<div class="field">
  <%= f.label :name %><br/>
  <%= f.text_field :name %><br/>
</div>
<div class="field">
  <%= f.label :email %><br/>
  <%= f.text_field :email %><br/>
</div>
<div class="field">
  <%= f.label :password %><br/>
  <%= f.password_field :password %><br/>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Confirmation" %><br/>
  <%= f.password_field :password_confirmation %><br/>
</div>
